{% extends 'layout.html.twig' %}

{% block body %}

    <h1 class="h-wish">Wish List</h1>
    <!DOCTYPE html>

        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Published</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
            {% for w in wish_list %}
            <div class="wish">
            <tr>
              <td><a>{{w.title}}<a></td>
              <td><p>{{w.description}}</p></td>
              <td><a>{{w.author}}<a></td>
              <td><a>{{w.isPublished == 1?'yes':'no'}}<a></td>
              <td><a>{{w.dateCreated|date('d/m/Y h:m')}}<a></td>
            </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>
      <br><br>
     
   

{% endblock %}